.f000 {
  display: flex;
}
.f00c {
  display: flex;
  flex-direction: column;
}
.f00cr {
  display: flex;
  flex-direction: column-reverse;
}
.f00r {
  display: flex;
  flex-direction: row;
}
.f00rr {
  display: flex;
  flex-direction: row-reverse;
}
.f0a0 {
  display: flex;
  justify-content: space-around;
}
.f0ac {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.f0acr {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
}
.f0ar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.f0arr {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.f0b0 {
  display: flex;
  justify-content: space-between;
}
.f0bc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.f0bcr {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.f0br {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.f0brr {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.f0e0 {
  display: flex;
  justify-content: space-evenly;
}
.f0ec {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.f0ecr {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
.f0er {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.f0err {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.f0c0 {
  display: flex;
  justify-content: center;
}
.f0cc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.f0ccr {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.f0cr {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.f0crr {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.fc00 {
  display: flex;
  align-items: center;
}
.fc0c {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fc0cr {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.fc0r {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.fc0rr {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.fca0 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fcac {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.fcacr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
}
.fcar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.fcarr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.fcb0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fcbc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.fcbcr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.fcbr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.fcbrr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.fce0 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fcec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.fcecr {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
.fcer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.fcerr {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.fcc0 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fccc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fcccr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.fccr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.fccrr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.fe00 {
  display: flex;
  align-items: flex-end;
}
.fe0c {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.fe0cr {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}
.fe0r {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.fe0rr {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}
.fea0 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.feac {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}
.feacr {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column-reverse;
}
.fear {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row;
}
.fearr {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.feb0 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.febc {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}
.febcr {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.febr {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
.febrr {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.fee0 {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.feec {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
}
.feecr {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
.feer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
}
.feerr {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.fec0 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.fecc {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.feccr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column-reverse;
}
.fecr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}
.fecrr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row-reverse;
}
.fs00 {
  display: flex;
  align-items: flex-start;
}
.fs0c {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.fs0cr {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}
.fs0r {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.fs0rr {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.fsa0 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.fsac {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.fsacr {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column-reverse;
}
.fsar {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
}
.fsarr {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.fsb0 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.fsbc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.fsbcr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.fsbr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
.fsbrr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.fse0 {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.fsec {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}
.fsecr {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
.fser {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}
.fserr {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.fsc0 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.fscc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.fsccr {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column-reverse;
}
.fscr {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.fscrr {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row-reverse;
}
